footer.footer
  .container-fluid
    .row
      .col-sm-offset-1.col-sm-10
        | All data is an intelectual property of
        a(href="http://www.bjcp.org")  BJCP
        | . For detailed information on Styles and Categories, please visit their website.
        |  Current tool is designed to help preparing for the BJCP Exam and does not contain actual questions from the actual test.
        |  All multiple choice questions are randomly generated from the BJCP Style guide.
        |  All true/false questions are created based on the information from BJCP Study Guide.
        br


