footer.footer
  .container-fluid
    .row
      .col-sm-offset-1.col-sm-10
        | All data is intelectual property of
        a(href="http://www.bjcp.org")  BJCP
        | . For detailed information on the Styles and Categoreis, please visit their website.
        |  Current tools is designed to better prepare for the BJCP Exam and does not contain actual questions from the actual test.
        |  All multiple choice questions are randomaply generated from the BJCP style guide.
        |  All true/false questions are creted based on the information from BJCP Study Guide.
        br


