// Navbar starts
nav#nav.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid
    .navbar-header
      button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="#")
        i.fa.fa-home
        |   BJCP Exam Prep
    .navbar-collapse.collapse
      ul.nav.navbar-nav
        li.active
          a(href='/category/index') Categories
        li.dropdown
          a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") Tests
            span.caret
          ul.dropdown-menu
            li
              a(href="/question/guide") Study Guide Questions
            li
              a(href="/question/mchoice") Multiple Choice on Style
            li
              a(href="/question/checkstyles") Fill in the Style
            li.divider(role="separator")
            li
              a(href="/question/all") All Topics (practice)
            li.divider(role="separator")
            li
              a(href="/question/all") All Topics (graded)

      //ul.navbar-form.navbar-right
        .form-group
          input#results.form-control(type="text", placeholder="Results Here")

        //li
          a(href='/style/new') Add Style
