include ../layouts/mixins
extends ../layouts/layout

block body

  if type == "m_choice_normal"
    +m_choice_normal(question, options, answer)
  else if type == "m_choice_reverse"
    +m_choice_reverse(question, options, answer)
  else if type == "true_false"
    +true_false(question, options, answer)
  else if type == "check_style"
    +check_style(question, options, answer)

  .row
    .col-sm-12.col-md-offset-1.col-md-10
      hr

  if options.length > 2
    .row.helper-row
      .col-sm-offset-1.col-sm-8.col-md-offset-2.col-md-6
        h4 Little bit hard? Want a little tip? Remove few wrong options.
      .col-sm-3.col-md-4
        #btn-fifty-fifty.btn.btn-default.btn-lg.btn-info Remove!

  .row.respond-row.hidden
    .col-sm-offset-1.col-sm-8.col-md-offset-2.col-md-5
      h4.respond-message
    .col-sm-3.col-md-5
      #btn-reload.btn.btn-default.btn-lg.btn-warning(onclick="location.reload()") Next
