// SUBMENU

.marginBottom-0 {margin-bottom:0;}

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#555;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}


.error
  color redClr


.error.valid
  color greenClr

.vote-dropdown
  margin -5px -5px 0

.yourAnswer:hover
  background-color rgb(228, 249, 249)


body
  text-shadow 1px 1px 2px rgba(150, 150, 150, 1)
  margin-top 65px
  background url("/images/BeerSamples.jpg") no-repeat center center fixed
  -webkit-background-size cover
  -moz-background-size cover
  -o-background-size cover
  background-size cover

#container.container-fluid > .row > .col-md-10
  min-height 400px
  padding-top 20px
  padding-bottom 20px
  background-color rgba(255, 255, 255, 0.7)
  border 1px rgba(255, 255, 255, 0.9) solid
  border-radius 5px

#check-style-form
  input
    font-weight bold
  .wrong
    border 1px solid red
    color #800000
  .correct
    color #006400
    border 1px solid green


.fa-icon > .fa-minus-circle
  font-size 17px
  color rgb(215, 41, 41)
  line-height 30px

.tagLink
  > span
    font-weight normal !important
  font-size 16px
  display inline-block
  margin 2px 5px 2px 5px

.beerBlock
  // border-radius 3px
  border-bottom  1px solid greyClr
  // background-color lightgreyClr
  //margin-top 5px
  //margin-bottom 5px
  padding-top 5px
  padding-bottom 10px
  > .beerLabel
    font-weight bold
    text-align right

.colorRange
  background-color #F8A600
  height 25px
  margin-bottom 5px
  width 100%
  border 1px darkgreyClr solid

.passScore, failScore
  font-weight bold

.passScore
  color greenClr

.failScore
  color maroonClr


.pass, .fail
  color white
  border solid 2px #000000

.pass
  border-color #040
  background-color darkGreenClr

.fail
  border-color  #800
  background-color rubyRedClr

hr
  -moz-border-bottom-colors none
  -moz-border-image none
  -moz-border-left-colors none
  -moz-border-right-colors none
  -moz-border-top-colors none
  border-color #EEEEEE -moz-use-text-color #FFFFFF
  border-style solid none
  border-width 1px 0
  border-bottom-color darkslategray
  border-top-color dimgray
  margin 18px 0

.respond-row
  h4
    text-align right

.all-answers
  min-height 40%

  cursor pointer
  &:hover > .answer-option
    background-color lightgreyClr
  > .answer-option
    padding 20px
    line-height 50px
    min-height 50px
    background-color #dedede
    border 1px solid darkgreyClr
    border-radius 10px
    margin 5px 0 5px 0
    font-size 15px
    &.true-false
      font-size 20px
  &.m-choice .answer-option
    line-height inherit !important
    text-align left !important
  > .correct-answer
    border-color darkgreen
    background-color darkGreenClr
    border 1px solid #040
    text-shadow 1px 1px 2px #040
    color #fff
  > .wrong-answer
    border-color maroon
    background-color rubyRedClr
    text-shadow 1px 1px 2px #400
    color #fff
    border 1px solid #400
  &:hover > .correct-answer
    background-color darkgreen
  &:hover > .wrong-answer
    background-color maroon

  > .reverseMChoice, >.true_false
    text-align center
    font-size 150%

.col-sm-6 > .answer-option
  text-align center
.col-lg-3 > .answer-option
  text-align left
  line-height 20px

#question
  margin-bottom 20px
  .all-answers
    text-align left
    font-weight normal

.characteristics
  font-size 20px

.removed-option
  cursor default !important
  pointer-events none
  background-color rgba(128, 128, 128, 0.40) !important
  color rgba(0, 0, 0, 0.30)

@media (max-width: 992px)
  body
    margin-top 51px

@media (max-width: 768px)
  .all-answers > .answer-option
    height auto !important
  .beerBlock > .beerLabel
    text-align left


