// Colors
whiteClr      = #FFF
greenClr      = #0A0
darkGreenClr      = #080
lightgreenClr = #8F8
orangeClr     = #FA0
blueClr       = #00F
greyClr      = #CCC
lightgreyClr = #EEE
blackClr     = #000
darkBlueClr  = #00A
darkgreyClr  = #888
redClr       = #F00
rubyRedClr   = #A00
lightredClr  = #F88
maroonClr    = #800

